<% include partials/headera.ejs%>
<div class="container justify-content-center">

<%if(found.length==0){%>
    <h5>No companies found</h5>
    <a href="/main">Go back</a>
<%}%>

<%if(found.length!=0){%>
    <%for(var i=0;i<found.length;++i){%>
        <div class="card">
        <h5 class="card-header"><%=found[i]["Ticker"]%></h5>
        <div class="card-body">
        <h5 class="card-title"><%=found[i]["Name"]%></h5>
        <%var url="/addstock/"+found[i]["Ticker"]%>
        <a href="<%=url%>" class="btn btn-primary">Add</a>
        </div>
        </div>
    <%}%>
<%}%>
</div>

<% include partials/footer.ejs%>