<%include partials/headera.ejs%>

<div class="container h-40 d-flex justify-content-center">
            <form class="form-inline" action="/searchstock" method="POST">
              <div class="form">
                <input type="text" class="form-control" placeholder="Company Name" name="query" required autofocus>
              </div>
              <button class="btn btn-success" type="submit">Search</button>
              <br><hr><br>
            </form>
</div>

<%if(currentUser.stocks.length!=0){%>
    <%for(var i=0;i<currentUser.stocks.length;++i){%>
        <p><%=currentUser.stocks[i]%></p>
    <%}%>
<%}%>
<%include partials/footer.ejs%>